.country-card {
  &__thumbnail {
    height: 15rem;
    margin-bottom: 0;
    overflow: hidden;
    & > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transition: all .2s ease-in-out;
    }
  }
}
