<article class="country-card">
  <figure class="country-card__thumbnail">
    <img src="{{countryInfo.flag}}" alt="Flag of {{countryInfo.name}}">
  </figure>
  <div class="country-card__content content">
    <h6 class="content__name">{{countryInfo.name}}</h6>
    <p class="content__info">
      <span class="content__bold">Population: </span>{{countryInfo.population}}
    </p>
    <p class="content__info">
      <span class="content__bold">Region: </span>{{countryInfo.region}}
    </p>
    <p class="content__info">
      <span class="content__bold">Capital: </span>{{countryInfo.capital}}
    </p>
  </div>
</article>
