<section class="countries-grid">
  <div class="countries-grid__inner">
    <div class="ci-container">

      <div class="countries-grid__tools">
        <form class="search-form">
          <mat-form-field class="countries-grid__search-field" appearance="fill" >
            <mat-label>Search for a country...</mat-label>
            <input matInput placeholder="Ex. Cyprus" autocomplete="false" type="text">
          </mat-form-field>
        </form>

        <div class="region-dropdown">
          <button
            mat-button
            class="region-dropdown__button"
            [matMenuTriggerFor]="regionMenu"
            (onMenuOpen)="setMenuStatus(true)"
            (onMenuClose)="setMenuStatus(false)"
            [matTooltip]="'Filter by region'"
          >
            {{ selectedRegion}}
            <mat-icon class="region-dropdown__icon" [class.region-dropdown__icon--rotated]="menuIsOpen">expand_more</mat-icon>
          </button>
          <mat-menu #regionMenu="matMenu" class="region-dropdown__menu">
            <button
              *ngFor="let region of searchRegions"
              class="region-dropdown__menu-option"
              mat-menu-item
              (click)="setSelectedRegion(region)"
            >{{region}}</button>
          </mat-menu>
        </div>
      </div>

      <div *ngIf="!fetchingData; else loadingGrid" class="countries-grid__grid">
        <app-country-card
          *ngFor="let country of filteredCountriesArray"
          [countryInfo]="country"
        ></app-country-card>
      </div>

      <ng-template #loadingGrid>
        <div class="countries-grid__grid">
          <div
            *ngFor="let index of [].constructor(loadingCardsAmount)"
            class="loading-card">
            <app-skeleton-loader [height]="150" ></app-skeleton-loader>
            <div class="loading-card__content">
              <app-skeleton-loader [height]="20" ></app-skeleton-loader>
              <app-skeleton-loader [height]="17" ></app-skeleton-loader>
              <app-skeleton-loader [height]="17" ></app-skeleton-loader>
              <app-skeleton-loader [height]="17" ></app-skeleton-loader>
            </div>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</section>
