.countries-grid {
  padding: clamp(2rem, 4vw, 6rem) 0;

  &__tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  &__search-field {
    width: min(40rem, 100%);
  }

  &__grid {
    --cardWidth: 20rem;
    --colGap: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--cardWidth), 100%), 1fr));
    gap: var(--colGap);
  }
}

.loading-card {
  box-shadow: var(--ci-shadow-08);
  border-radius: 5px;
  background: var(--ci-elements-color);

  &__content {
    padding: 3rem;
    & > * {
      margin-bottom: 10px;
      display: block;
    }
  }
}



.search-form {
  width: 400px;
}
